<%= provide(:title, 'reddit') %>
<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, user_post_path(post.user_id, post) %></td>
        <td><%= post.content %></td>
        <td><%= post.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>
