<%= provide(:title, @post.title) %>

<article class="show-wrapper">
  <h2 class="show-title">
    <%= @post.title %>
  </h2>
  <p class="show-content">
    <%= @post.content %>
  </p>
  <div class="previous-post-publish-date post-publish-date">Published on <%= format_date(@post.created_at) %>
  </div>
  <div class="post-byline">by <%= link_to @post.user.username, user_path(@post.user), class: "post-author" %>
  </div>
  </p>
</article>
<nav class="site-nav content-nav">
  <% if logged_in? && @post.user == current_user %>
  <%= link_to "Edit", edit_user_post_path(@post.user, @post), class: "site-link content-link" %>
  <%= link_to "Destroy", user_post_path(@post.user_id, @post), method: :delete, data: { confirm: "Are you sure?" }, class: "site-link content-link" %>
  <% end %>
  <%= link_to "Back", user_posts_path, class: "site-link content-link" %>
</nav>